<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Node Study</title>
</head>

<body>
    <header>
        <h1>欢迎来到Nodejs</h1>
    </header>
    {{{body}}}
</body>

</html>