<div class="row onchat-warp">
    <div class="col-md-4 onchat-left">
        <div id="onchat-search">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <input type="text" class="form-control" placeholder="查找用户...">
            </div>
        </div>
        <div>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a>
                        <div class="pull-right text-right">
                            <div>7:57</div>
                            <span class="badge im_dialog_badge">160</span>
                        </div>
                        <div class="oc_dialog_photo pull-left">
                            <span class="oc_dialog_text">营销</span>
                        </div>
                        <div class="oc_dialog_message_wrap">

                            <div class="oc_dialog_peer">
                                <span>营销沟通组</span>
                            </div>
                            <div class="oc_dialog_message">
                                <span>风</span>
                                <span my-short-message="dialogMessage">
                                    <span class="oc_short_message_text">换好了</span>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="pull-right text-right">
                            <div>7:57</div>
                            <span class="badge im_dialog_badge">2</span>
                        </div>
                        <div class="oc_dialog_photo pull-left">
                            <span class="oc_dialog_text">营销</span>
                        </div>
                        <div class="oc_dialog_message_wrap">

                            <div class="oc_dialog_peer">
                                <span>营销沟通组</span>
                            </div>
                            <div class="oc_dialog_message">
                                <span>风</span>
                                <span my-short-message="dialogMessage">
                                    <span class="oc_short_message_text">换好了</span>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="pull-right text-right">
                            <div>7:57</div>
                            <span class="badge im_dialog_badge">3</span>
                        </div>
                        <div class="oc_dialog_photo pull-left">
                            <span class="oc_dialog_text">饿了</span>
                        </div>
                        <div class="oc_dialog_message_wrap">

                            <div class="oc_dialog_peer">
                                <span>饿了吗</span>
                            </div>
                            <div class="oc_dialog_message">
                                <span>龙</span>
                                <span my-short-message="dialogMessage">
                                    <span class="oc_short_message_text">一杯咖啡</span>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="pull-right text-right">
                            <div>7:57</div>
                            <span class="badge im_dialog_badge">16</span>
                        </div>
                        <div class="oc_dialog_photo pull-left">
                            <span class="oc_dialog_text">歪歪</span>
                        </div>
                        <div class="oc_dialog_message_wrap">

                            <div class="oc_dialog_peer">
                                <span>歪歪</span>
                            </div>
                            <div class="oc_dialog_message">
                                <span>风</span>
                                <span my-short-message="dialogMessage">
                                    <span class="oc_short_message_text">118图库</span>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-8">

    </div>
</div>